body{
    margin: 0;
    background-color: #252525;
}

#topMenuContainer {
    position: fixed;
    top: 0;
    text-align: left;
    background-color: grey;
    overflow-x: auto;
    white-space: nowrap;
    width: 100vw;
}

#topMenuContainer img {
    width: 3em;
    height: 3em;
    margin-right: 0.5em;
}

#contentContainer {
    margin-top: 4.5em;
    margin-bottom: 5.5em;
}

#searchBarContainer {
    text-align: center;
}

#searchBarContainer input[type="text"] {
    width: 80%;
}

#searchBarContainer button {
    width: 10%;
}

#playerContainer {
    position: fixed;
    bottom: 0;
    width: 100vw;
}

#playerContainer div {
    width: 100%;
    white-space: nowrap;
}

#playerContainer div input[type="range"] {
    width: 20%;
}

#playerContainer {
    background-color: #252525;
}

#songTitle {
    color: white;
    text-align: center;
}

#playerContainer audio {
    width: 100%;
}

#songList a, #libraryList a {
    color: white;
    text-decoration: none;
    width: 100%;
    display: block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#songList, #libraryList {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
}

#songList li:hover, #libraryList li:hover {
    background-color: #5f5f5f;
}

#addLibraryDialog {
    position: fixed;
    width: 40vw;
    height: 25em;
    left: 0;
    right: 0;
    top: 0;
    margin-left:auto;
    margin-right: auto;
    background-color: #0f0f0f;
    border-radius: 20px;
    color: white;
    padding: 1em;
    overflow-y: auto;
    overflow-x: hidden;
}

#addLibraryDialog input, #addLibraryDialog select {
    width: 100%;
}

#addLibraryDialog div {
    width: 90%;
}

#addLibraryDialog div {
    margin-top: 1em;
}

#addLibraryDialog:last-child(1) {
    margin-top: 0.5em;
}